body {
    
    background-color: rgb(196, 199, 251);
    
}
.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
   
}
.image{
    flex: 0 0 50%;
    margin: 10px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}