body {
    width: 100%;
    background-image: url("images/giphy_bkg.gif");
    
    background-size: auto;
    background-position: center; 
   
    
}
.container {
   
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    
   
}
.image{
     background-color: bisque;
    flex: 0 0 50%;
    margin: 10px;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.title , .input{
    color: white;
    padding: 30px;
    border: 1px solid rgb(8, 8, 8);
    background-color: black;
    font-size: 30px;
}

input {
    padding: 10px;
    background-color: white;
} 
button{
    padding: 10px;
    background-color: chartreuse;
}
#congratulation {
    width: 70%;
    text-align: center;
    margin: 20px auto;
    background-color: white;
    font-size: 20px;
    color: brown;
    padding: 20px;
    border: 3px solid red;
    display: none;
    
    
}